body {
	background-color: #222;
	color: #e6e6e6;
	padding: 0;
	margin: 0;
}

a {
	color: #f44336;
	text-decoration: none;
}

code {
	background-color: rgba(80, 80, 80, 0.7);
	padding: 2px 6px;
	color: white;
	border-radius: 4px;
	font-size: 16px;
}

.tasks {
	max-height: 100vh;
	overflow: auto;
	padding: 20px 0;
}

.file {
	color: #f44336;
	cursor: pointer;
}

ul > li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.list-item * {
	display: inline-block;
	padding: 0 5px;
}

@media only screen and (max-width: 600px) {
	html *, h3, h2, h4 {
		padding: 0;
		margin: 0;
	}

	.item-name {
		overflow: hidden;
		text-overflow: ellipsis;
		width: calc(100vw - 100px);
	}

	.block {
		padding: 10px;
		padding-right: 0;
	}

	.block .block {
		padding: 10px 30px;
		padding-right: 0;
	}

	.block .block ul {
		padding: 10px 40px;
		padding-right: 0;
		padding-bottom: 5px;
	}

	.block .item-name {
		font-size: 18px !important;
	}

	.block .block .item-name {
		font-size: 16px !important;
	}

	.block .block .block * {
		font-size: 10px !important;
	}

	.file {
		padding: 5px 0;
	}
}
