.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
	background-color: #333;
	border-radius: 6px;
	padding: 16px;
	overflow: hidden;
}

.dialog * {
	padding: 0;
}

.dialog code, .fullscreen code {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.dialog pre {
	max-height: 70vh;
	overflow: scroll;
	border-radius: 6px;
}

.dialog .close, .fullscreen .close {
	color: red;
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	cursor: pointer;
}

.fullscreen {
	position: fixed;
	background-color: #222;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	padding: 0;
	margin: 0;
}

.fullscreen .close {
	position: fixed;
	right: 24px;
	right: 24px;
}

.dialog-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dialog-header h3 {
	flex-grow: 1;
}

.dialog-header .btn {
	cursor: pointer;
}

.dialog-header .tools {
	display: flex;
	align-items: center;
}

.dialog-header .tools > * {
	padding: 0 6px;
}

@media only screen and (max-width: 600px) {
	.dialog {
		transform: translate(0, 0);
		top: 0;
		left: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
		padding: 10px;
	}

	.dialog-header {
		flex-direction: column-reverse;
		align-items: start;
	}

	.dialog-header .tools > * {
		padding: 0 14px;
	}

	.dialog-header .tools {
		align-self: self-end;
	}
	.dialog-header .title {
		padding: 20px 0;
	}	

	.dialog pre {
		max-height: 79vh;
	}

	.dialog code {
		font-size: 2.7vw;
	}
}
